<% layout('layouts/boilerplate') %>
<%- include('partials/nav') %> 
<div id="overlay" class="container position-absolute top-100 start-50 translate-middle text-center">
    <div class="row mb-3 mt-3">
        <span class="col rounded-pill" id="color-indicator">
            <h1>#<%= randomColors[pickedColorIndex] %></h1>
        </span>
    </div>

    <% var index = 0; %>
    <% for(var i=0; i<difficulty; i++) { %>
        <div class="row">
            <% for(var x=0; x<3; x++) { %>
                <div class="col">
                    <div class="m-auto rounded-circle color-pad" style="background-color: #<%=randomColors[index]%>;" id="<%=randomColors[index]%>"> </div>
                    <% index++ %>
                </div>
            <% } %>
        </div>
    <% } %> 

<script>
    const pickedColor = '<%- randomColors[pickedColorIndex] %>';
    const colors = '<%- JSON.stringify(randomColors)%>';
</script>
<script src="/scripts/gameScript.js"></script>